<template>
    <div v-bind:class="cssClass">
        <data-table v-bind:store="store" v-bind:selection="selection" @select="selectAccount($event)">
            <template slot="before-head">
                <tr>
                    <th></th>
                    <th>
                        <input placeholder="Username" @keyup="search('name', $event.target.value)"/>
                    </th>
                    <th>
                        <div class="dropdown">
                            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ store.params.type }}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">ETH</a>
                                <a class="dropdown-item" href="#">ETC</a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <input placeholder="Wallet"/>
                    </th>
                    <th>
                        <input placeholder="Amount"/>
                    </th>
                    <th>
                        <input placeholder="Created"/>
                    </th>
                    <th>
                        <input placeholder="Updated"/>
                    </th>
                </tr>
            </template>
            <template slot-scope="row" slot="action">
                <div>{{ row.account.id }}</div>
            </template>
            <template slot="foot">
                <tfoot v-if="balance > 0">
                <tr>
                    <th v-for="c in store.columns" v-bind:data-name="c.name">
                        <div v-if="'balance' === c.name">{{ balance }}</div>
                    </th>
                </tr>
                </tfoot>
            </template>
        </data-table>
    </div>
</template>

<script>
  import Store from '../store'
  import DataTable from './DataTable'

  export default {
    name: "account-list",
    components: {DataTable},
    data() {
      return {
        selection: [],
        store: new Store({
          name: 'accounts',
          params: {type: 'ETH', _meta: 1}
        })
      }
    },
    computed: {
      balance() {
        if (this.selection) {
          console.log(this.store.getRows(this.selection))
          return this.store.getRows(this.selection).reduce((a, b) => a + b.balance, 0)
        }
        return 0
      },
      cssClass() {
        return {
          balance: this.balance > 0,
          widget: true,
          'account-list': true
        }
      }
    },
    methods: {
      selectAccount(id) {
        if (this.selection) {
          const i = this.selection.indexOf(id)
          if (i < 0) {
            this.selection.push(id)
          }
          else {
            this.selection.splice(i, 1)
          }
        }
      },
      search(name, string) {
        for (const row of this.store.data) {
          row.match(name, string)
        }
      }
    }
  }
</script>

<style>
    .widget.account-list [data-name="balance"] {
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;
    }

    .widget.account-list thead [data-name="balance"] {
        border-top: 1px solid #dee2e6;
    }

    .widget.account-list tfoot [data-name="balance"] {
        border-bottom: 1px solid transparent;
    }

    .widget.account-list.balance [data-name="balance"] {
        border-right-color: #17a2b8;
        border-left-color: #17a2b8;
    }

    .widget.account-list.balance thead [data-name="balance"] {
        border-top-color: #17a2b8;
    }

    .widget.account-list.balance tfoot [data-name="balance"] {
        border-bottom-color: #17a2b8;
    }
</style>
