<template>
    <div class="widget data-table">
        <table v-bind:class="cssClass">
            <slot name="head">
                <thead>
                <slot name="before-head"/>
                <tr>
                    <th v-for="c in store.columns" @click="sort(c.name)" :key="c.name" v-bind:data-name="c.name">
                        {{ c.label }}
                        <span v-if="order.name === c.name && order.sort !== 0">
                        <i v-if="1 === order.sort" class="icon ion-md-arrow-dropup"></i>
                        <i v-if="-1 === order.sort" class="icon ion-md-arrow-dropdown"></i>
                    </span>
                    </th>
                    <th>Actions</th>
                </tr>
                </thead>
            </slot>
            <tbody>
            <tr v-for="r in store.data"
                :key="r.id"
                v-bind:class="rowCssClass(r.id)"
                v-bind:id="r.id"
                v-if="r.visible"
                @click="selectRow(r.id)">
                <td v-for="(c, name) in r" v-bind:data-name="name">
                    <field :key="name"
                           v-bind:info="getColumn(name)"
                           v-bind:original="c"
                           v-on:save="save(r.id, $event)"/>
                </td>
                <td>
                    <slot name="action" v-bind:account="r"/>
                </td>
            </tr>
            </tbody>
            <slot name="foot"/>
        </table>
        <div class="busy" v-if="store.busy"></div>
    </div>
</template>

<script>
  import Field from "./Field";

  export default {
    name: 'data-table',
    components: {Field},
    props: ['store', 'selection'],
    data() {
      return {
        order: {
          name: '',
          sort: 0
        }
      }
    },
    computed: {
      cssClass() {
        return {
          table: true,
          'table-hover': this.selection && this.selection.length >= 0
        }
      }
    },
    methods: {
      async save(id, {name, value}) {
        await this.store.saveCell(id, name, value)
      },
      getColumn(name) {
        return this.store.columns.find(c => name === c.name)
      },
      sort(name) {
        if (this.order.name !== name || 0 === this.order.sort) {
          this.order.sort = -1
          this.order.name = name
        }
        else if (-1 === this.order.sort) {
          this.order.sort = 1
        }
        else {
          this.order.sort = 0
        }
        this.store.sort({[this.order.name]: this.order.sort})
      },
      rowCssClass(id) {
        const is = this.selection && this.selection.indexOf(id) >= 0
        return {
          'table-info': is,
          selected: is
        }
      },
      selectRow(id) {
        if (this.selection) {
          this.$emit('select', id)
        }
      }
    },
    async mounted() {
      await this.store.load({_refresh: 1})
      this.store.params._refresh = 0
    }
  }
</script>

<style>
    .widget.data-table thead input {
        width: 100%;
    }

    .widget.data-table .field.editable span {
        margin-left: 2px;
    }

    .widget.data-table tbody .field.view input {
        width: 0;
        border: none;
        background-color: transparent;
    }

    .widget.data-table tbody td:hover .field.view input {
        width: 100%;
        background-color: white;
        transition: all 200ms linear;
        opacity: 0.8;
    }

    .widget.data-table tbody .field.edit input {
        background-color: white;
        width: 100%;
    }

    .widget.data-table .busy {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
        background: rgba(255, 255, 255, 0.7) url("/images/busy.svg") no-repeat center;
    }

    .widget.data-table [data-name="wallet"] {
        min-width: 350px;
    }

    .widget.data-table tbody tr.hidden td {
        display: none;
    }
</style>
