<template>
    <div v-bind:class="cssClass" @click="startEdit($event)">
        <input v-model="value"
               @change="save()"
               v-if="info && !info.readonly"/>
        <span v-if="!edit">{{ info && 'number' === info.type ? +original : original }}</span>
        <i v-if="info && !info.readonly && !original && !edit" class="icon ion-md-add-circle-outline"></i>
    </div>
</template>

<script>
  export default {
    name: "field",
    props: ['info', 'original'],
    data() {
      return {
        edit: false,
        value: ''
      }
    },
    methods: {
      startEdit() {
        if (!this.info.readonly && !this.edit) {
          this.edit = true
          this.value = this.original || ''
          this.$emit('edit', this.info.name)
        }
      },
      save() {
        this.$emit('save', {
          name: this.info.name,
          value: this.value
        })
        this.edit = false
      },
    },
    computed: {
      cssClass() {
        return {
          readonly: this.info && this.info.readonly,
          editable: !this.info || !this.info.readonly,
          field: true,
          mono: this.info && this.info.mono,
          empty: this.info && !this.info.original,
          edit: this.edit,
          view: !this.edit,
          widget: true
        }
      }
    }
  }
</script>

<style>
    .widget.field {
        position: relative;
    }

    .widget .field span {
    }

    .widget.field input {
        position: absolute;
    }

    .widget.field.editable > span, div.field.editable > i {
        cursor: pointer;
    }

    .widget.field.mono {
        font-family: 'Fira Mono', monospace;
    }
</style>